############################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
############################################################

/UCTrafficMaui/.vs/UCTrafficMaui

# ===== MAUI / .NET BUILD OUTPUT (ADD THESE) =====
**/bin/
**/obj/
*.dll
*.exe
*.pdb
*.cache
*.bin
*.log

